/* import font the Poppins from google fonts website */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Criação de variáveis para cores predefinidas */
:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;

    /* Extras */
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-05: #232323;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
}




form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;

}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .input-box input,
form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #e6d353;
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

form textarea{
    resize: none; /* Permissão do usuario redimencionar a caixa de mensagem*/
}
.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: #e6d353;
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}
.btn:hover{
    box-shadow: 0 0 0.3rem #e6d353;
    background-color: inherit; /* herda a cor do fundo */
    color: #e6d353;
    cursor: pointer;
}

.contact {
    text-align: center;
    margin-top: 5%;
}

header {
    box-shadow: 0px 3px 10px #464646;
    padding: 8px 8%;
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* Garante que o navbar ocupe toda a largura */
}

#nav_logo {
    width: 60%;
    /* Define o tamanho da logo */
    height: auto;
    /* Mantém a proporção da imagem */
    max-width: 120%;
    /* Impede que a logo ultrapasse o tamanho da sua coluna */
}


#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 450;
}

.nav-item.active a {
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}

.login {
    margin-left: auto;
    /* Move o botão de login para o extremo direito */
}

.btn-login {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    border-bottom: 3px solid #464646;
    transition: 0.5s;
    line-height: 30px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: rgb(81, 53, 2);
    color: white;
}

.nome-usuario {
    font-size: 18px; /* Tamanho da fonte ajustado */
    color: #ffffff; /* Cor do texto branca */
    margin-left: 10px; /* Espaço entre o nome e o elemento anterior */
    background-color: #4CAF50; /* Cor de fundo para destacar */
    padding: 5px 10px; /* Espaçamento interno */
    border-radius: 20px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave ao redor */
    display: inline-block; /* Exibição em linha com blocos */
    text-transform: capitalize; /* Primeira letra maiúscula */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.nome-usuario:hover {
    transform: scale(1.1); /* Aumenta um pouco o tamanho ao passar o mouse */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
}